.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# server
/server/node_modules
/server/.env
/server/parsers
# /server/types.ts
# /server/types.js

# client
client/node_modules
client/.expo

# macOS
.DS_Store
